<div class="card shadow-sm">
  <div class="card-body">
    <h2 class="card-title mb-4">New Project Allocation</h2>
    <form action="/project_allocations" method="post">
      <%= erb :'project_allocations/_form', layout: false %>
    </form>
  </div>
</div> 