
<section class="section is-primary">
  <div class="container">
    <div class="box">
      <h1 class="title is-2">Home Page</h1> 
      <p>Welcome to the home page of the Resourcing Sinatra application.</p>
    </div>
  </div>
</section>