<div class="container">
  <h1 class="title">New Project</h1>
  <div class="content">
    <form action="/projects" method="post">
      <%= erb :'projects/_form', layout: false %>
    </form>
  </div>
</div> 