<div class="card shadow-sm">
  <div class="card-body">
    <h2 class="card-title mb-4">New Project</h2>
    <form action="/projects" method="post">
      <%= erb :'projects/_form', layout: false %>
    </form>
  </div>
</div> 