<div class="container">
  <h1 class="title">New Capacity</h1>
  <div class="content">
    <form action="/capacities" method="post">
      <%= erb :'capacities/_form', layout: false %>
    </form>
  </div>
</div> 