<div class="card shadow-sm">
  <div class="card-body">
    <h2 class="card-title mb-4">New Capacity</h2>
    <form action="/capacities" method="post">
      <%= erb :'capacities/_form', layout: false %>
    </form>
  </div>
</div> 